
<%= render 'userinfo', user: @user %>
<%= render 'books/list', book: @book %>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to 'show', book_path(book.id) %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>title：<%= book.title %></p>
  <p>option：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>